 <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


      <title>Student Menu</title>
    <style>
       /* a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;

            text-decoration: none;
            color: initial;
        }*/
        /*.btn-dark{
            width: 250px;
            height: 60px;
        }*/
        .container{
            padding: 20px;
        }

        /*input{
            width: 200px;
            height: 50px;
            border-radius: 5px;
            margin: 0 auto;
        }*/
        table{
            height: 100px;
            width: 100%;
            margin: auto;
            text-align: center;
            table-layout: fixed;
            font-size: 5px;
        }
        table,tr,th,td{

            padding:20px;
            color:white;
            border:1px solid #080808;
            border-collapse: collapse;
            font-size: 15px;
            font-family: Arial;
            /*background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
            background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%); */
        }
        td:hover{
            background:grey;
        }
    </style>
  </head>
  <body>
  <!-- <div class= "container" id="main-container"> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">TCU Medical School Schedule Builder <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
  </nav>

        <div class="wrapper" id="body-wrapper">
            <div class="row">
                <div class="col-9" id="weekly-calendar">
                    <h5>Week 1</h5>
                    <table id="table1" class="table table-dark table-striped">
                        <tr>
                            <th>&nbsp;</th>
                            <th> Sun</th>
                            <th> Mon</th>
                            <th> Tues</th>
                            <th> Wed</th>
                            <th> Thur</th>
                            <th> Fri</th>
                            <th> Sat</th>
                        </tr>
                        <tr>
                            <td>Morning</td>
                            <td id="cell1" th:onclick="|test(this, 'c1c', 'c1l', 'c1b', 'c1Bl', '${w1SunM}',1,1)|" th:text="${w1SunM}"></td>
                            <td id="cell2" th:onclick="|test(this, 'c2c', 'c2l', 'c2b', 'c2Bl', '${w1MonM}',1,2)|" th:text="${w1MonM}"></td>
                            <td id="cell3" th:onclick="|test(this, 'c3c', 'c3l', 'c3b', 'c3Bl', '${w1TuesM}',1,3)|" th:text="${w1TuesM}"></td>
                            <td id="cell4" th:onclick="|test(this, 'c4c', 'c4l', 'c4b', 'c4Bl', '${w1WedsM}',1,4)|" th:text="${w1WedsM}"></td>
                            <td id="cell5" th:onclick="|test(this, 'c5c', 'c5l', 'c5b', 'c5Bl', '${w1ThurM}',1,5)|" th:text="${w1ThurM}"></td>
                            <td id="cell6" th:onclick="|test(this, 'c6c', 'c6l', 'c6b', 'c6Bl', '${w1FriM}',1,6)|" th:text="${w1FriM}"></td>
                            <td id="cell7" th:onclick="|test(this, 'c7c', 'c7l', 'c7b', 'c7Bl', '${w1SatM}',1,7)|" th:text="${w1SatM}"></td>
                        </tr>
                        <tr>
                            <td>Afternoon</td>
                            <td id="cell11" th:onclick="|test(this, 'c11c', 'c11l', 'c11b', 'c11Bl', '${w1SunA}',2,1)|" th:text="${w1SunA}"></td>
                            <td id="cell22" th:onclick="|test(this, 'c22c', 'c22l', 'c22b', 'c22Bl', '${w1MonA}',2,2)|" th:text="${w1MonA}"></td>
                            <td id="cell33" th:onclick="|test(this, 'c33c', 'c33l', 'c33b', 'c33Bl', '${w1TuesA}',2,3)|" th:text="${w1TuesA}"></td>
                            <td id="cell44" th:onclick="|test(this, 'c44c', 'c44l', 'c44b', 'c44Bl', '${w1WedsA}',2,4)|" th:text="${w1WedsA}"></td>
                            <td id="cell55" th:onclick="|test(this, 'c55c', 'c55l', 'c55b', 'c55Bl', '${w1ThurA}',2,5)|" th:text="${w1ThurA}"></td>
                            <td id="cell66" th:onclick="|test(this, 'c66c', 'c66l', 'c66b', 'c66Bl', '${w1FriA}',2,6)|" th:text="${w1FriA}"></td>
                            <td id="cell77" th:onclick="|test(this, 'c77c', 'c77l', 'c77b', 'c77Bl', '${w1SatA}',2,7)|" th:text="${w1SatA}"></td>
                        </tr>
                    </table>
                    <h5>Week 2</h5>
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>&nbsp;</th>
                            <th> Sun</th>
                            <th> Mon</th>
                            <th> Tues</th>
                            <th> Wed</th>
                            <th> Thur</th>
                            <th> Fri</th>
                            <th> Sat</th>
                        </tr>
                        <tr >
                            <td>Morning</td>
                            <td th:text="${w2SunM}"></td>
                            <td th:text="${w2MonM}"></td>
                            <td th:text="${w2TuesM}"></td>
                            <td th:text="${w2WedsM}"></td>
                            <td th:text="${w2ThurM}"></td>
                            <td th:text="${w2FriM}"></td>
                            <td th:text="${w2SatM}"></td>
                        </tr>
                        <tr>
                            <td>Afternoon</td>
                            <td th:text="${w2SunA}"></td>
                            <td th:text="${w2MonA}"></td>
                            <td th:text="${w2TuesA}"></td>
                            <td th:text="${w2WedsA}"></td>
                            <td th:text="${w2ThurA}"></td>
                            <td th:text="${w2FriA}"></td>
                            <td th:text="${w2SatA}"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-3" id="specialty-column">
                    <p class="text-center" id="button-header"><strong>Choose Clerkship</strong></p>
                    <div class = "container btn-group-vertical" role="group">
                        <form action="/Neurology/1" >
                            <input style="width: 250px" class="btn btn-dark" type="submit" value="Neurology" id="1" />
                        </form>
                        <form action="/Family Medicine/2">
                            <input style="width: 250px" class="btn btn-dark" type="submit" value="Family Doc" id="2"/>
                        </form>
                        <form action="/Internal Medicine/3">
                            <input style="width: 250px" class="btn btn-dark" type="submit" value="Internal Medicine" id="3" />
                        </form>
                        <form action="/Surgery/4">
                            <input style="width: 250px" class="btn btn-dark" type="submit" value="Surgery" id="4" />
                        </form>
                        <form action="/ER/5">
                            <input style="width: 250px" class="btn btn-dark" type="submit" value="ER" id="5"/>
                        </form>
                        <form action="/OBGYN/6">
                            <input style="width: 250px" class="btn btn-dark" type="submit" value="OBGYN" id="6"/>
                        </form>
                        <form action="/Pediatrics/7">
                            <input style="width: 250px" class="btn btn-dark" type="submit" value="Pediatrics" id="7"/>
                        </form>
                        <form action="/Phychiatry/8">
                            <input style="width: 250px" class="btn btn-dark" type="submit" value="Phychiatry" id="8"/>
                        </form>
                        <form action="/IM Sub-Specialty/9">
                            <input  style="width: 250px" class="btn btn-dark" type="submit" value="IM Sub-Specialty" id="9"/>
                        </form>

                        <!-- Button trigger modal -->
                        <button style="width: 250px" type="button" class="btn btn-danger" data-toggle="modal" data-target="#scheduleModal" id="schedule-popup">
                            Schedule
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Your Current Schedule</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group" id="schedule-group">
                                            <!--<li class="list-group-item" th:text="${schedule}"></li> -->
                                            <!--<h1 id="hold" th:text="${schedule}"></h1> -->
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button th:text="HERE" hidden id="choice"></button>
            </div>
            <div class="row" id="key-row">
                <div class="col-9">
                    <div class="card card-horizontal">
                        <div class="card-body bg-light">
                            <p class="card-title"><strong>Selection Key</strong></p>
                            <p class="card-text">Each color represents a different criteria you have matched with.</p>
                        </div>
                        <div class="card-body bg-light">
                            <div class="row text-center pagination-center">
                                <div class="col-3">
                                    <div class="square" id="personality">
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="key-text">Doctor with matching personality</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-light">
                            <div class="row text-center pagination-center">
                                <div class="col-3">
                                    <div class="square" id="na">
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="key-text" style="margin-left: 15px;">No matching criteria</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-light">
                            <div class="row text-center pagination-center">
                                <div class="col-3">
                                    <div class="square" id="location">
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="key-text">Doctor with matching location</p>
                                </div>
                            </div>

                        </div>
                        <div class="card-body bg-light">
                            <div class="row text-center pagination-center">
                                <div class="col-3">
                                    <div class="square" id="match-both">
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="key-text">Matching personality & location</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <script th:inline="javascript">


        window.onload = checkAvail;

        var cellColors = ['c1c','c2c','c3c','c4c','c5c','c6c','c7c','c11c','c22c','c33c','c44c','c55c','c66c','c77c'];
        var cellLabels = ['c1l','c2l','c3l','c4l','c5l','c6l','c7l','c11l','c22l','c33l','c44l','c55l','c66l','c77l'];
        var cellButtons = ['c1b','c2b','c3b','c4b','c5b','c6b','c7b','c11b','c22b','c33b','c44b','c55b','c66b','c77b'];
        var cellIDs = ["cell1","cell2","cell3","cell4","cell5","cell6","cell7","cell11","cell22","cell33","cell44","cell55","cell66","cell77"];
        var clerkBtns = ["1","2","3","4","5","6","7","8","9"];


        function checkAvail(){
            //event.preventDefault();
            for(i = 0; i<=14; i++){
                if(sessionStorage.getItem(cellColors[i])) {
                    document.getElementById(cellIDs[i]).style.background = sessionStorage.getItem(cellColors[i]);
                    document.getElementById(cellIDs[i]).innerHTML = sessionStorage.getItem(cellLabels[i]);
                }
            }
            for(j = 0; j<=9; j++ ){

                if(sessionStorage.getItem(clerkBtns[j]) === "off"){
                    document.getElementById(clerkBtns[j]).disabled = true;
                }else{
                    document.getElementById(clerkBtns[j]).disabled = false;
                }
            }

            var btnCount = 0;
            for(t = 0; t<=9; t++){
                if(sessionStorage.getItem(clerkBtns[j]) === "off"){
                    btnCount += 1;
                }
            }
            if(btnCount === 9){
                window.alert("Press 'Schedule' to submit schedule!")
            }

        }
        function pass(){
            location.href="http://localhost:8080/submit/"+sessionStorage.getItem("schedule");
        }



        function test(x,cellColor,cellLabel,cellBtn,cellBool,y,row,col){
            //event.preventDefault();
            var table = document.getElementById("table1");
            var count = y;
            var id1 = /*[[${id}]]*/null;
            var btn = document.getElementById(id1);
            var prof = /*[[${prof}]]*/ null;


            if(sessionStorage.getItem(cellBool) == '1') {

               /* if (count === '0') {
                    window.alert("No Doctors Available at this time!");
                } else {*/

                    var label = table.rows[row].cells[col].innerHTML;
                    if(label == "Neurology"){
                        sessionStorage.setItem("1", "on");
                        var temp = document.getElementById("1");
                        temp.disabled = false;
                    }else if(label == "Family Medicine"){
                        sessionStorage.setItem("2", "on");
                        var temp = document.getElementById("2");
                        temp.disabled = false;
                   }else if(label == "Internal Medicine"){
                        sessionStorage.setItem("3", "on");
                        var temp = document.getElementById("3");
                        temp.disabled = false;
                    }else if(label == "Surgery"){
                        sessionStorage.setItem("4", "on");
                        var temp = document.getElementById("4");
                        temp.disabled = false;
                    }else if(label == "ER"){
                        sessionStorage.setItem("5", "on");
                        var temp = document.getElementById("5");
                        temp.disabled = false;
                    }else if(label == "OBGYN"){
                        sessionStorage.setItem("6", "on");
                        var temp = document.getElementById("6");
                        temp.disabled = false;
                    }else if(label == "Pediatrics"){
                        sessionStorage.setItem("7", "on");
                        var temp = document.getElementById("7");
                        temp.disabled = false;
                    }else if(label == "Phychiatry"){
                        sessionStorage.setItem("8", "on");
                        var temp = document.getElementById("8");
                        temp.disabled = false;
                    }else if(label == "IM Sub-Specialty"){
                        sessionStorage.setItem("9", "on");
                        var temp = document.getElementById("9");
                        temp.disabled = false;
                    }

                    x.style.background = "initial";
                    sessionStorage.setItem(cellColor,"initial");
                    sessionStorage.setItem(cellLabel, count);
                    x.innerHTML = sessionStorage.getItem(cellLabel);
                    sessionStorage.setItem(cellBool, '0');
            }else{

                if (count === '0') {
                    window.alert("No Doctors Available at this time!");
                } else {
                    btn.disabled = true;
                    x.style.background = "green";
                    sessionStorage.setItem(id1, "off");
                    sessionStorage.setItem(cellColor,"green");
                    sessionStorage.setItem(cellLabel, prof);
                    x.innerHTML = sessionStorage.getItem(cellLabel);
                    sessionStorage.setItem(cellBool, '1');
                }
                if (label == "Neurology") {
                    SessionStorage.setItem("NeurologyTime", y);
                } else if (label == "Family Medicine") {
                    SessionStorage.setItem("FamilyDocTime", y);
                } else if (label == "Internal Medicine") {
                    SessionStorage.setItem("InternalMedicineTime", y);
                } else if (label == "Surgery") {
                    SessionStorage.setItem("SurgeryTime", y);
                } else if (label == "ER") {
                    SessionStorage.setItem("ERTime", y);
                } else if (label == "OBGYN") {
                    SessionStorage.setItem("OBGYNTime", y);
                } else if (label == "Pediatrics") {
                    SessionStorage.setItem("PediatracsTime", y);
                } else if (label == "Phychiatry") {
                    SessionStorage.setItem("PhychiatryTime", y);
                } else if (label == "IM Sub-Specialty") {
                    SessionStorage.setItem("IMTime", y);
                }
            }
            th:onclick="|pass()|"
            schedule = "Neurology: "+sessionStorage.getItem("NeurologyTime")+" Family Medicine: "+sessionStorage.getItem("FamilyDocTmie")+
                " IM: "+sessionStorage.getItem("InternalMedicineTime")+" Surgery: "+sessionStorage.getItem("SurgeryTime")+
                " ER: "+sessionStorage.getItem("ERTime")+" OBGYN: "+sessionStorage("OBGYNTime")+" Pediatrics: "+
                sessionStorage.getItem("PediatricsTime")+" Phychiatry: "+sessionStorage.getItem("PhychiatryTime")+
                " IM: "+sessionStorage.getItem("IMTime");
            sessionStorage.setItem("schedule",schedule);
        }

        /*

                    function pass(){
                location.href="/submit/"+sessionStorage.getItem("schedule");
            }
            if (label == "Neurology") {
                SessionStorage.setItem("NeurologyTime", y);
            } else if (label == "Family Medicine") {
                SessionStorage.setItem("FamilyDocTime", y);
            } else if (label == "Internal Medicine") {
                SessionStorage.setItem("InternalMedicineTime", y);
            } else if (label == "Surgery") {
                SessionStorage.setItem("SurgeryTime", y);
            } else if (label == "ER") {
                SessionStorage.setItem("ERTime", y);
            } else if (label == "OBGYN") {
                SessionStorage.setItem("OBGYNTime", y);
            } else if (label == "Pediatrics") {
                SessionStorage.setItem("PediatracsTime", y);
            } else if (label == "Phychiatry") {
                SessionStorage.setItem("PhychiatryTime", y);
            } else if (label == "IM Sub-Specialty") {
                SessionStorage.setItem("IMTime", y);
            }
            th:onclick="|pass()|"
                schedule = "Neurology: "+sessionStorage.getItem("NeurologyTime")+" Family Medicine: "+sessionStorage.getItem("FamilyDocTmie")+
                            " IM: "+sessionStorage.getItem("InternalMedicineTime")+" Surgery: "+sessionStorage.getItem("SurgeryTime")+
                            " ER: "+sessionStorage.getItem("ERTime")+" OBGYN: "+sessionStorage("OBGYNTime")+" Pediatrics: "+
                        sessionStorage.getItem("PediatricsTime")+" Phychiatry: "+sessionStorage.getItem("PhychiatryTime")+
                            " IM: "+sessionStorage.getItem("IMTime");
                sessionStorage.setItem("schedule",schedule);
         */



    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../../Desktop/LIC/UC04v1/src/main/resources/templates/js/bootstrap.min.js"></script>
  </body>
<!-- <script th:inline="javascript">
     $('button[name="nbtn"]').click(function(event){
         event.preventDefault();
         var data = $('form').seralize();
         data += "carl" + "Neurology";
         $.post('/index', data, 'html');
     })
 </script>-->
</html>

